@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$fontrubik: "Rubik", sans-serif; 
$maincolor:  #fd9797;
$secondarycolor: rgb(243, 236, 226);
$thirdcolor:  rgb(188, 162, 166);